{% extends "layouts/base.html" %}

{% block title %} User Profile {% endblock %} 
<meta name="csrf-token" content="{{ csrf_token() }}">

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="{{ config.ASSETS_ROOT }}/css/apply_temp.css" rel="stylesheet" />
{% endblock stylesheets %}

{% block content %}

    <div class="content"> 
        <div class="container-fluid">
            <div class="row"> 
                
                <!-- upload pdf section -->
                    <div id="upload_pdf" class="col-md-12" style="display: block;">
                            <div class="container text-center mb-5 mt-5">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h4><a href="https://plugins.krajee.com/file-input" target="_blank"><b>File Upload With Sortable, Remove Options</b></a></h4>
                                    </div>
                                </div>
                            </div>
                            
                            <section class="bg-diffrent">
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <div class="col-xl-8">
                                            <div class="file-upload-contain">
                                                <input type="hidden" id="csrf_token" name="_csrf_token" value="{{ csrf_token() }}">
                                                <input id="fileupload" type="file" accept=".jpg,.gif,.png, .pdf" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
    
                            
                    </div>
                
                <!-- Display pdf section -->
                <div id="display_pdf" class="col-md-8 " style="display: none;">
                    <label for="pageSelector" class="text-dark font-weight-bold h3">Select Page:</label>
                    <select id="pageSelector" class="browser-default custom-select"></select>
                    <div id="pdfImageContainer" class="text-center"></div>
                
                    <div style="position: relative;" class="text-center" id="display_pdf_id">
                    </div>
                </div>

                <!-- Mapping text & label section -->
                <div id="display_fields" class="col-md-4" style="display: none;">
                    <div class="card card-user">
                      <div class="card-image">
                          <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="...">
                      </div>
                      
                      <div class="form-group" id="form-field">
                          <div class="row">
                              <div class="col-md-12">

                                <div class="dropdown col-6 float-left"  >
                                    <button type="button" class="btn btn-primary dropdown-toggle" type="button"  id="templates-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      Available Templates
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="templates-menu">
                                      <!-- show option from API  -->
                                    </div>
                                </div>

                                  <span class="float-right mt-5" id="text-show" style="visibility: hidden;"> Add Fields</span>
                              </div>
                          </div>
                          
                          
                              <div class="card card-outline-secondary">
                                  <div class="card-header  text-center">
                                      <h3 class="mb-0">Mapping Text with labels
                                      </h3>
                                  </div>

                                  
                                  <form autocomplete="off" id="form-id" class="form" role="form">
                                    <div class="text-center row" id="form-div-btn-id" style="display: none;">
                                           
                                        <span class="dropdown col-6" id="download-btnn">
                                            <button type="button" class="btn btn-danger dropdown-toggle" type="button"  id="dropdownMenuButton download-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Download Data
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" id="json-btn">JSON Data</a>
                                            <a class="dropdown-item" id="csv-btn">CSV Data</a> 
                                            </div>
                                        </span>
                                    </div>
                                  </form>


                              </div>
                         
                            
                      </div>
                      <hr>
                      <div class="button-container mr-auto ml-auto">
                          <button href="#" class="btn btn-simple btn-link btn-icon">
                              <i class="fa-brands fa-square-facebook"></i>
                          </button>
                          <button href="#" class="btn btn-simple btn-link btn-icon">
                              <i class="fa-brands fa-square-twitter"></i>
                          </button>
                          <button href="#" class="btn btn-simple btn-link btn-icon">
                              <i class="fa-brands fa-square-google-plus"></i>
                          </button>
                      </div>
                  </div>
              </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-jcrop/0.9.15/js/jquery.Jcrop.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.6.347/pdf.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/apply_temp.js"></script>
{% endblock javascripts %}
