# Ignore Python virtual environment
my_pdf/



# Ignore VSCode settings
.vscode/

# Ignore Junk files from project
*.pyc
__pycache__/

# Ignore project information file
.env/
*.env

# unnecessary docs
app/static/uploads
  