
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg " color-on-scroll="500">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#pablo"> User Dashboard </a>
                    <button href="" class="navbar-toggler navbar-toggler-left" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-start" id="navigation">
                        
                        <ul class="navbar-nav ml-auto">
                            {% if not current_user.is_authenticated %}  
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('authentication_blueprint.login') }}">
                                    <i class="nc-icon nc-circle-09"></i>
                                    <span>Log In</span>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                       
                    </div>
                </div>
            </nav>